unsafe-perm=true
@acko-ui-kit:registry=https://nexus-prod.acko.in/repository/acko-npm/
@acko-tech:registry=https://nexus-prod.acko.in/repository/central-building-blocks/
@acko-sdui:registry=https://nexus-prod.acko.in/repository/bff-framework
registry=https://registry.npmjs.org
@acko-swat-sdk:registry=https://nexus-prod.acko.in/repository/acko-swat-sdk/
always-auth=true